/* --------------------------------------------------------- */
/* !Categories */
/* --------------------------------------------------------- */

.tops-thumbnail-select {
	display: inline-block;
	line-height: 0;
	img {
		display: block;
		line-height: 0;
		width: 60px;
		height: auto;
	}
}
.column-tops_term_thumbnail {
	img {
		display: block;
		line-height: 0;
		width: 60px;
		height: auto;
	}
}